/*! styles.scss */
header {
  background-color: #C9E3DA;
}

header .header {
  flex-flow: row wrap;
}

header .header .logo {
  height: 173px;
  width: 200px;
  background-image: url("../img/thirdwheel-design-logo-no-outline_1024.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2.5rem 0;
}

header .header nav {
  flex-basis: 100%;
  margin: 1rem 0 3.5rem 0;
}

header .header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header nav ul li {
  float: left;
  margin-right: 0.5rem;
}

header .header nav ul li:last-child {
  margin-right: 0;
}

header .header nav ul li a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #292E70;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.5rem;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

header .header nav ul li a:hover {
  color: #2DB5A9;
}

@media only screen and (min-width: 576px) {
  header .header nav ul li a {
    font-size: 1.4rem;
  }
}

header .header nav ul .active a {
  border-bottom: 3px solid #E77A65;
}

.banner {
  width: 100%;
}

.banner .carousel *[class*="item-"] {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .carousel .item-1 {
  background-image: linear-gradient(rgba(41, 35, 112, 0.6), rgba(41, 35, 112, 0.6)), url("https://placehold.it/900x300");
}

.banner .carousel .item-2 {
  background-image: linear-gradient(rgba(41, 35, 112, 0.6), rgba(41, 35, 112, 0.6)), url("https://placehold.it/900x300");
}

.banner .carousel .item-3 {
  background-image: linear-gradient(rgba(41, 35, 112, 0.6), rgba(41, 35, 112, 0.6)), url("https://placehold.it/900x300");
}

.banner .carousel .slick-prev, .banner .carousel .slick-next {
  z-index: 999;
  width: 40px;
  height: 40px;
}

.banner .carousel .slick-prev {
  left: 15px;
}

.banner .carousel .slick-next {
  right: 15px;
}

.banner .carousel .slick-prev:before, .banner .carousel .slick-next:before {
  color: #2DB5A9 !important;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

img {
  max-height: 100%;
  width: auto;
}
